/* Import Fonts and Initialize */
@import url("https://fonts.googleapis.com/css2?family=REM&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@500&family=Open+Sans:wght@800&family=Roboto:wght@300;500;700;900&display=swap");

body {
  margin: 0;
  background-color:#cdd1d7;
  font-size: calc(1vw);
}
.pageContent {
  padding-bottom: 11rem;
}

.fullPage {
  position: relative;
  min-height: 100vh;
}

.MainHeader {
  display: flex;
  justify-content: space-between;
  background-color: #0c4489;
  font-family: "REM";
  
  width: 100%;
  right: 0;
  left: 0;
  font-size: calc(1vw);
  align-items: center;
}

.MainHeaderBackground {
  width: 100%;
  height: 100%;
  display: flex;
}

ol {
  margin-right: 10px;
  align-items: center;
}

ul {
  display: inline;
  color: whitesmoke;
}

a {
  transition-duration: 1.5s;
  text-decoration: none;
  color: whitesmoke;
}

.Logo {
  height: 60px;
  width: 60px;
  border-radius: 20%;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 5px;
  margin-left: 7px;
}

.Name {
  font-size: large;
  margin-left: 30px;
  align-items: center;
  color: whitesmoke;
  font-family: "REM";
}

.LogoTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: 0.5%; */
}
.centered {

}
.DonationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.PlsDonate {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-family: "Rem";
  margin-top: 5%;
  color: #0c4489;
}

.DonateLinks{
  margin-top: 50px;
  padding-top: 30px;
  border-radius: 30px;
  border-width: 9px;
  transition-duration: 1.5s;
  background-color: #0c4489;
  border-color: black;
  border-style: solid;
  height: 100px;
  width: 80%;
  text-align: center;
  /* vertical-align: bottom; */
  line-height: 70px;
  font-size: 100px;
  font-family: 'Rem';


}



.DonateLinks:hover {
  transition-duration: 1s;
  background-color: #116ad6;
}


.footer-holder {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #0c4489;
  display: flex;
  margin-top: 10px;
  height: 150px;
  justify-content: center;
  
  }
  
  .Footer-Header {
    margin-left: 2%;
  margin-bottom: 0;
  
  }
  
  .footer {
  position: absolute;
  font-family: 'Rem';
  color: white;
  justify-content: start;
  width: 100%;
  }
  
  
  .Social-Media {
  margin-left: 2%;
  background-color: #0c4489;
  display: flex;
  justify-content: start;
  
  }
  
  .image {
  
  margin-right: 10px;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  margin-top: 9.69px;
  
  
  }

  .Sponsorship{

    margin-top: 10px;

  }