/* Import Fonts and Initialize */
@import url('https://fonts.googleapis.com/css2?family=REM&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@500&family=Open+Sans:wght@800&family=Roboto:wght@300;500;700;900&display=swap');


body {

    margin: 0;
    background-color: #0C4489;


}

.MainHeader {

display:flex;
justify-content: space-between;
background-color: #0C4489;
font-family: 'REM';
position: fixed;
width: 100%;


}

.MainHeaderBackground {

    width:100%;
    height: 81.625px;
    display: flex;

}

ol {

    margin-right: 10px;
    margin-top: 31.19px;
    

}

ul {

    display:inline;
    color: whitesmoke;
}


a {

    text-decoration: none;
    color: whitesmoke;
}


.Logo {


height: 60px;
width: 60px;
margin-top: 9.69px;
}

.Name {

    margin-top: 20.19px;
    color: whitesmoke;
    font-family: 'REM';
}



.LogoTitle {

    display:flex;
    justify-content: flex-start;
    
  


}

.TeamHeader {

display:flex;
justify-content: center;
color: whitesmoke;
font-family: 'Rem' ;
margin-top: 50px;


}



.Team-One-Container {


display: flex;
justify-content: space-around;
width: 100%;

}

.Team-One   {


display:flex;

justify-content:space-around;
width: 80%;
color: whitesmoke;
font-family: 'Rem';
text-align: center;

}


.Krish {width: 26%;text-align: center;}
.Abhinav {width: 26%;text-align: center;} 
.Mutasim {width: 26%;text-align: center;}

.Team-Two-Container {


    display: flex;
    justify-content: space-around;
    width: 100%;
    
    }
    
    .Team-Two {
    
    
    display:flex;
    
    justify-content:space-around;
    width: 80%;
    color: whitesmoke;
    font-family: 'Rem';
    
    }

.Nihal{width: 26%;text-align: center;}
.Ekansh{width: 26%;text-align: center;}
.Reethum{width: 26%;text-align: center;}


    .Team-Three-Container {


        display: flex;
        justify-content: space-around;
        width: 100%;
        
        }
        
        .Team-Three   {
        
        
        display:flex;
        
        justify-content:space-around;
        width: 80%;
        color: whitesmoke;
        font-family: 'Rem';
        
        }

.Rishi {width: 26%;text-align: center;}
.Matthew {width: 26%;text-align: center;}
.Adhitya{width: 26%;text-align: center;}




        .Team-Four-Container {


            display: flex;
            justify-content: space-around;
            width: 100%;
            
            }
            
            .Team-Four  {
            
            
            display:flex;
           
            justify-content:space-around;
            width: 80%;
            color: whitesmoke;
            font-family: 'Rem';
            
            }
            
.Rijoy {width: 26%; text-align: center;}
.Vrajesh {width: 26%;text-align: center;}
.Sundar {width: 26%;text-align: center;}

.Default-Image {

    height: 30px;
    width: 26%;

}

        
    

